<nz-layout class="layout">
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item *ngIf="isCottageOwner" (click)="cottages()">My cottages </li>
        <li nz-menu-item *ngIf="isCottageOwner" (click)="cottageOwnerProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isCottageOwner" (click)="changePasswordCottageOwner()">Change your password </li>
        <li nz-menu-item *ngIf="isCottageOwner" (click)="seeHistoryOfReservation()">Reservation history </li>
        <li nz-menu-item *ngIf="isCottageOwner" (click)="requestForDeletion()">Request for deletion </li>

        <li nz-menu-item *ngIf="isBoatOwner" (click)="boats()">My boats </li>
        <li nz-menu-item *ngIf="isBoatOwner" (click)="boatOwnerProfile()">Change your profile </li>
        <li nz-menu-item *ngIf="isBoatOwner" (click)="changePasswordBoatOwner()">Change your password </li>

        <li nz-menu-item *ngIf="isSystemAdmin" (click)="requestedDeletion()">See all requested deletions</li>

        <li nz-menu-item (click)="clearStorage()">Logout</li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>