<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <br>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="text" nzRequired>
          <span>Reason for denying</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input reason for denying!">
          <input nz-input id="text" formControlName="text" />
        </nz-form-control>
    </nz-form-item>
     <nz-form-item nz-row class="register-area">
       <nz-form-control [nzSpan]="14" [nzOffset]="6">
         <button nz-button nzType="primary"  [disabled]="!validateForm.valid" nzGhost>Finish</button>
       </nz-form-control>
     </nz-form-item>
</form>