<mat-grid-list [cols]="4"  [rowHeight]="320">
    <mat-grid-tile [rowspan]="2" [colspan]="2">
        <img class="roundedImage" src="assets/slika82.jpg"  style="width:95%; height: 97%;">    
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="2">
        <img class="roundedImage" src="assets/slika4.jpg"  style="width:95%; height: 97%;">
    </mat-grid-tile>
   
    

    <mat-grid-tile [rowspan]="1" [colspan]="2">
        <img class="roundedImage" src="assets/slika5.jpg"  style="width:95%; height: 95%;">
    </mat-grid-tile> 
    <div class="centerCol">
        <p style="color: white; font-size: 20px; margin-top: 17px;">Book a boat and a cottage and enjoy nature.</p>
        <p style="color: white; font-size:20px;">We offer fishing instructors for fishing enthusiasts.</p>
    </div> 
</mat-grid-list>
