
<div>

  <div class="row">
    <div class="col-sm">

        <mat-form-field appearance="fill">
            <mat-label>Sort by</mat-label>
            <mat-select [(ngModel)]="sortBy">
                <mat-option value="Date">Date</mat-option>
                <mat-option value="Price">Price</mat-option>
                <mat-option value="Duration">Duration</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Choose sort type</mat-label>
            <mat-select [(ngModel)]="sortType">
                <mat-option value="Descending">Descending</mat-option>
                <mat-option value="Ascending">Ascending</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="col-sm">
        <button class="searchButton" (click)="sort()"><mat-icon>search</mat-icon></button>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>


    <mat-card>
        <mat-card-title style="text-align: center;">Boat reservations history</mat-card-title>
    </mat-card>
    <div class = "approval">

        <table id="registrations">
            <tr>
              <th>Boat</th>
              <th>Price</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Rate</th>
            </tr>
            <tr *ngFor="let reservation of reservationList">
              <td>{{reservation.boat.name}}</td>
              <td>{{reservation.price}}</td>
              <td>{{reservation.startDate | date:'medium'}}</td>
              <td>{{reservation.endDate | date:'medium'}}</td>
              <td><button (click) = "rate('0ms', '0ms', reservation.id, reservation.reservationType)" *ngIf="reservation.possibleToRate"  class="button1">
                <mat-icon>rate_review</mat-icon>
                </button></td>
            </tr>
        </table>
        
    </div>

</div>
