<div>
    <div class="row">
        <div class="col-sm"> </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>


        <div class="col-sm">
            <mat-form-field appearance="fill">
                <mat-label>Search by name or address</mat-label>
                <input (input)="search()" matInput [(ngModel)]="searchTerm" />
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>


    
    <mat-grid-list [cols]="3" [rowHeight]="320">
        <div *ngFor="let f of fishingLessons">
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <div class="rounded">
                    <h2>{{f.name}}</h2>

                    <p style="font-size: 17px; color: #4c7d85;">{{f.description}}</p>
                    <p style="font-size: 17px; color: #4c7d85;"><mat-icon>star_rate</mat-icon><span style="margin-left: 10px;"></span>{{f.rating}}</p>
                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Address:&nbsp;</span> {{f.address}}</p>
                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Number of people:&nbsp;</span>
                        {{f.numberOfPeople}}</p>

                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Price:&nbsp;</span> {{f.price}} din</p>
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <button style="bottom: 0;" (click)="showMore(f.id)">Show more</button>
                        </div>
                        <div class="col-sm"></div>
                    </div>

                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>
