.rounded {
    border-radius: 25px;

    border-color: #ffe6e6;
    border-style: solid;
    padding: 20px;
    border-width: 0.2px;
    position: absolute;
    top: 8px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 100%;
    
    bottom: 0;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #ffd480;
}

button:hover {
    background: #fbcc6e;
}