<mat-nav-list>
    <a mat-list-item routerLink="/homepage" (click)="onSidenavClose('')">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>

    <a mat-list-item routerLink="/boats" (click)="onSidenavClose('')">
        <mat-icon>directions_boat</mat-icon><span class="nav-caption">Boats</span>
    </a>

    <a mat-list-item routerLink="/cottages" (click)="onSidenavClose('')">
        <mat-icon>cottage</mat-icon><span class="nav-caption">Cottages</span>
    </a>

    <a mat-list-item routerLink="/lessons" (click)="onSidenavClose('')">
        <mat-icon>water</mat-icon><span class="nav-caption">Fishing lessons</span>
    </a>

    <a mat-list-item routerLink="/reservation" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>book</mat-icon><span class="nav-caption">Reservation</span>
    </a>

    <a mat-list-item routerLink="/instructorReservation" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_INSTRUCTOR'">
        <mat-icon>book</mat-icon><span class="nav-caption">Reservation</span>
    </a>

    <a mat-list-item routerLink="/cottageReservationsHistory" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>holiday_village</mat-icon><span class="nav-caption">Cottage reservations history</span>
    </a>

    <a mat-list-item routerLink="/boatReservationsHistory" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>sailing</mat-icon><span class="nav-caption">Boat reservations history</span>
    </a>

    <a mat-list-item routerLink="/fishingLessonReservationsHistory" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>history_edu</mat-icon><span class="nav-caption">Fishing lesson reservations history</span>
    </a>

    <a mat-list-item routerLink="/notPassedReservations" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>notes</mat-icon><span class="nav-caption">Reservations</span>
    </a>

    <a mat-list-item routerLink="/subscriptions" *ngIf="role == 'ROLE_CLIENT'" (click)="onSidenavClose('')">
        <mat-icon>subscriptions</mat-icon><span class="nav-caption">Subscriptions</span>
    </a>

    <a mat-list-item routerLink="/deleteAccount" *ngIf="role == 'ROLE_CLIENT'" (click)="onSidenavClose('')">
        <mat-icon>delete</mat-icon><span class="nav-caption">Delete account</span>
    </a>

    <a mat-list-item routerLink="/deleteInstructorAccount" *ngIf="role == 'ROLE_INSTRUCTOR'" (click)="onSidenavClose('')">
        <mat-icon>delete</mat-icon><span class="nav-caption">Delete account</span>
    </a>

    <a mat-list-item routerLink="/deleteRequests" *ngIf="role == 'ROLE_ADMIN'" (click)="onSidenavClose('')">
        <mat-icon>delete_forever</mat-icon><span class="nav-caption">Delete requests</span>
    </a>

    <a mat-list-item routerLink="/revisions" *ngIf="role == 'ROLE_ADMIN'" (click)="onSidenavClose('')">
        <mat-icon>star_rate</mat-icon><span class="nav-caption">Revisions</span>
    </a>

    <a mat-list-item routerLink="/complaints" *ngIf="role == 'ROLE_ADMIN'" (click)="onSidenavClose('')">
        <mat-icon>receipt_long</mat-icon><span class="nav-caption">Complaints</span>
    </a>

    <a mat-list-item routerLink="/registration" (click)="onSidenavClose('')" *ngIf="currentUser == null">
        <mat-icon>person_add</mat-icon><span class="nav-caption">Client Registration</span>
    </a>

    <a mat-list-item routerLink="/serviceProviderRegistration" (click)="onSidenavClose('')" *ngIf="currentUser == null">
        <mat-icon>people</mat-icon><span class="nav-caption">Service Provider Registration</span>
    </a>

    <a mat-list-item routerLink="/users" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN'">
        <mat-icon>people</mat-icon><span class="nav-caption">Users</span>
    </a>

    <a mat-list-item routerLink="/adminRegistration" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN' && username == 'admin'">
        <mat-icon>person_add</mat-icon><span class="nav-caption">Admin Registration</span>
    </a>

    <a mat-list-item routerLink="/adminPenalties" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN'">
        <mat-icon>reviews</mat-icon><span class="nav-caption">Client reviews</span>
    </a>

    <a *ngIf="currentUser == null" style="position: absolute; bottom: 0;" mat-list-item routerLink="/login" (click)="onSidenavClose('')">
        <mat-icon>login</mat-icon><span class="nav-caption">Sign in</span>
    </a>

    <a *ngIf="currentUser != null" style="position: absolute; bottom: 0;" mat-list-item (click)="onSidenavClose('logout')">
        <mat-icon>login</mat-icon><span class="nav-caption">Log out</span>
    </a>

    <a mat-list-item routerLink="/registrationApproval" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN' && isPasswordOk">
        <mat-icon>list_alt</mat-icon><span class="nav-caption">Registration approval</span>
    </a>

    <a mat-list-item routerLink="/clientProfile" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_CLIENT'">
        <mat-icon>person</mat-icon><span class="nav-caption">Profile</span>
    </a>

    <a mat-list-item routerLink="/instructorProfile" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_INSTRUCTOR'">
        <mat-icon>person</mat-icon><span class="nav-caption">Profile</span>
    </a>

    <a mat-list-item routerLink="/adminProfile" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN' && isPasswordOk">
        <mat-icon>person</mat-icon><span class="nav-caption">Profile</span>
    </a>

    <a mat-list-item routerLink="/changeAdminPassword" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_ADMIN' && !isPasswordOk">
        <mat-icon>settings_applications</mat-icon><span class="nav-caption">Change password</span>
    </a>

    <a mat-list-item routerLink="/fishingLessons" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_INSTRUCTOR'">
        <mat-icon>set_meal</mat-icon><span class="nav-caption">My fishing lessons</span>
    </a>

    <a mat-list-item routerLink="/createFishingLesson" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_INSTRUCTOR'">
        <mat-icon>exposure_plus_1</mat-icon><span class="nav-caption">Add fishing lesson</span>
    </a>

    <a mat-list-item routerLink="/fishingLessonReservationsHistoryForInstructor" (click)="onSidenavClose('')" *ngIf="role == 'ROLE_INSTRUCTOR'">
        <mat-icon>history_edu</mat-icon><span class="nav-caption">Fishing lesson reservations history</span>
    </a>

  </mat-nav-list>