
button {
    background: #ffd480;
}

button:hover {

    background: #fbcc6e;
}

input[type=text], [type = password], select {
    width: 100%;
    padding: 9px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }