<mat-grid-list [cols]="4" [rowHeight]="333">
    <mat-grid-tile [rowspan]="2" [colspan]="2">
        <div class="rounded">
            <h1 style="text-align: center;">Personal info</h1>
            <hr>

            <div class="form-group">
                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" [(ngModel)] = "user.name">
            </div>

            <div class="form-group">
                <label for="lname">Surname</label>
                <input type="text" id="lname" name="lasttname" [(ngModel)] = "user.surname">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" id="email" name="email" value={{user.username}} disabled>
            </div>



            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text" id="phone" name="phone" [(ngModel)] = "user.phoneNumber">
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" [(ngModel)] = "user.address">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" [(ngModel)] = "user.city">
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" id="country" name="country" [(ngModel)] = "user.country">
            </div>


            <div  class="row">
                <div class="col-3">
                    <button (click)="openDialog('0ms', '0ms', user.username)">Change password</button>
                </div>
                <div class="col-3">
                    
                </div>
                <div class="col-3">
                    
                </div>
                <div class="col-3">
                    <button (click)="edit()">Save</button>
                </div>
            </div>

        </div>

        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" [colspan]="2">
            <div class="rounded">
                <h1 style="text-align: center;">Reports</h1>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>From date:</mat-label>
                            <input matInput [(ngModel)]="dateFrom" type="datetime-local" matInput />
    
    
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <mat-label>To date:</mat-label>
                            <input matInput [(ngModel)]="dateTo" type="datetime-local" matInput />
    
    
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <button style=" margin-top: -0.01px;" (click)="showIncomeBetween()">Show Income</button>
                    </div>
    
                    <div *ngIf="incomeBetweenShow">
                        <mat-card>
                            <mat-card-title style="text-align: center;">Reservations</mat-card-title>
                        </mat-card>
                        <div class="approval">
            
                            <table id="registrations">
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Price</th>
                                    <th>Income</th>
                                </tr>
                                <tr *ngFor="let reservation of reservationIncomeBetweenList">
                                    <td>{{reservation.entityName}}</td>
                                    <td>{{reservation.startDate | date:'medium'}}</td>
                                    <td>{{reservation.endDate | date:'medium'}}</td>
                                    <td>{{reservation.price}}</td>
                                    <td>{{reservation.income}}</td>
                                </tr>
                            </table>
            
                        </div>
            
                    </div>
                </div>
    
            </div>
    
        </mat-grid-tile>
</mat-grid-list>
