<div>
    <div class="row">
        <div class="col-sm">

            <mat-form-field appearance="fill">
                <mat-label>Sort by</mat-label>
                <mat-select [(ngModel)]="sortBy">
                    <mat-option value="Name">Name</mat-option>
                    <mat-option value="Address">Address</mat-option>
                    <mat-option value="Price">Price</mat-option>
                    <mat-option value="Number of rooms">Number of rooms</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="fill">
                <mat-label>Choose sort type</mat-label>
                <mat-select [(ngModel)]="sortType">
                    <mat-option value="Descending">Descending</mat-option>
                    <mat-option value="Ascending">Ascending</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-sm">
            <button class="searchButton" (click)="sort()">
                <mat-icon>search</mat-icon>
            </button>
        </div>



        <div *ngIf="role == 'ROLE_CLIENT'" class="col-sm"><button (click)="additionalSearch()">Additional search<span
                    style="margin-left: 10px;">
                    <mat-icon matPrefix>search</mat-icon>
                </span></button></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <mat-form-field appearance="fill">
                <mat-label>Search by name or address</mat-label>
                <input (input)="search()" matInput [(ngModel)]="searchTerm" />
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="addSearch" class="rounded1">
        <div class="row mt-3">
            <div class="col-sm">
                <mat-form-field appearance="fill">
                    <mat-label>Enter date</mat-label>
                    <input (input)="searchByDate()" matInput [(ngModel)]="dateForSearch" type="datetime-local"
                        matInput />
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-grid-list [cols]="3" [rowHeight]="300">
        <div *ngFor="let c of cottages">
            <mat-grid-tile [rowspan]="1" [colspan]="1">
                <div class="rounded">
                    <div class="row">
                        <div class="col-9">
                            <h2>{{c.name}}</h2>
                        </div>
                        <div class="col-3">
                            <button *ngIf="!isSubscribed(c.id)" (click) = "subscribe(c.id)">Subscribe</button>
                        </div>
                    </div>
                    <!-- <img class="roundedImage" src="{{b.images[0].path}}" style="width:438px; height: 260px; margin-bottom: 15px;"> -->
                    <p style="font-size: 17px; color: #4c7d85;">{{c.description}}</p>
                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Address:&nbsp;</span> {{c.address}}</p>
                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Number of rooms:&nbsp;</span>
                        {{c.numberOfRooms}}</p>

                    <p style="font-size: 17px;"><span style="color: #4c7d85;">Price:&nbsp;</span> {{c.price}} din</p>
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <button style="bottom: 0;" (click)="showMore(c.id)">Show more</button>
                        </div>
                        <div class="col-sm"></div>
                    </div>

                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>